@use "../../style/variables.scss" as *;

.skeleton {
  width: 425px;
  height: 294px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 25px;
  &__title {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    text-align: center;
  }
}



.animation {
  &__top {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  &__circle-stripe {
    background-color: #c4c4c4;
    width: 100%;
    height: 16px;
  }
  &__circle {
    background-color: #c4c4c4;
    border-radius: 100%;
    height: 40px;
    flex: 0 0 40px;
    margin-right: 9px;
  }
  &__stripe {
    background-color: #c4c4c4;
    height: 35px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
